// $font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font:  "Poppins", sans-serif;

$primary :  #008080 ;   // #2A9E9D   #6cdbeb

 $secondary: #FFFFFF;

$text: #FFFFFF;

$accent:  white;
$accent: rgba(255, 255, 255, 0.7); 
$accent-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.3); 
$accent-backdrop-filter: blur(5px); 
$accent-webkit-backdrop-filter: blur(5px); 
$accent-border-radius: 20px; 
$accent-border: 2px solid rgba(255, 255, 255, 0.3); 


$breakpoint: 1000px;